@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap);

:root {
  --first-color: #13cc8e;
  --second-color: #189269;
  --bg-color: #070707;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.main-icon {
  color: var(--first-color);
  margin-bottom: 2rem;
}

table {
  border: 1px solid #4444;
  width: 100%;

  th,
  td {
    text-align: left;
    padding: 0.5rem;
    border-top: 1px solid #ddd;
    border: 1px solid #ddd;
  }

  td svg {
    margin-left: 5px;
  }
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

.fullwidth {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 14px;
  }
}
